.about {
    background-color: #000000;
    display: flex;
    color: $color-text;
    justify-content: center;
    padding-top: 100px;
        &__supercharge {
            position: relative;
            margin-bottom: 100px;
                &__img {
                    width: 480px;
                    border-radius: 15px;
                    margin-right: 30px;
                }
                &__card {
                background-color: rgba(255, 255, 255, 0.1);
                backdrop-filter: blur(16px);
                border-radius: 15px;
                text-align: center;
                width: 198px;
                padding: 16px 10px;
                position: absolute;
                right: 30px;
                bottom: -45px;
                    &__number {
                        font-size: 22px;
                        font-weight: bold;
                        margin-top: 0;
                        margin-bottom: 12px;
                    }
                    &__text {
                        width: 80%;
                        font-size: 14px;
                        color:  $color-text-third;
                        margin: auto;
                    }
                }
        }
        &__info {
            flex-direction: column;
            margin-left: 70px;
            width: 20%;
            min-width: 360px;
                &__title {
                    width: 70%;
                    line-height: 35px;

                }
                &__text {
                    color: $color-text-third;
                    font-size: 18px;
                    line-height: 23px;
                    margin-bottom: 48px;
                }
                &__button {
                    background-color: $color-items;
                    padding: 16px 32px;
                    border: none;
                    border-radius: 5px;
                    color: white;
                }
        }

    @media (max-width: $dekstop-breakpoint) {
        &__supercharge {
            &__img {
                width: 310px;
            }
            &__card {
                padding: 20px 6px;
                right: 0;
                bottom: 0;
            }
        }
    }
    @media (max-width: $tablet-breakpoint) {
        flex-direction: column;
            &__supercharge {
                margin: auto;
                    &__card {
                        bottom: -30px;
                    }
            }
            &__info {
                width: 80%;
                    &__title {
                        width: 50%;
                        margin-top: 80px;
                    }
            }
    }
}

// Apparation des éléments au défilement
.revealLeft-1 {
    opacity: 0;
    transform: translateX(-75px);
}

.revealRight-1 {
    opacity: 0;
    transform: translateX(75px);
}

.reveal_visible {
    opacity: 1;
    transform: translateX(0);
    transition: 2.5s cubic-bezier(0.5, 0, 0, 1);
}