.footer {
    background-color: #000;
    color: $color-text;
    padding-top: 50px;
    padding-bottom: 100px;
        &__link {
            display: flex;
            width: 60%;
            justify-content: space-between;
            margin: auto;
                &__div {
                    flex-direction: column;
                    width: 45%;
                        &--entreprise {
                            margin-right: 150px;
                        }
                        &__logo {
                            display: flex;
                            align-items: center;
                                &__img {
                                    width: 32px;
                                    height: 32px;
                                    margin-right: 5px;
                                }
                        }
                        &__text {
                            color: $color-text-third;
                            margin-top: 0;
                        }
                        &__title {
                            margin-bottom: 30px;
                        }
                        &__ul {
                            padding: 0;
                        }
                        &__li {
                            list-style: none;
                            color: $color-text-third;
                            margin-bottom: 15px;
                                &:hover {
                                    color: $color-text;
                                    transition: .5s;
                                    cursor: pointer;
                                }
                        }
                        &__icon {
                            color: $color-text-third;
                            font-size: 22px;
                            margin-left: 20px;
                                &:hover {
                                    color: $color-text;
                                    transition: .5s;
                                    cursor: pointer;
                                }
                        }
                }
        }
    @media (max-width: $dekstop-breakpoint) {
        &__link {
            width: 80%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 50px;
            grid-row-gap: 50px;
        }
    }
    @media (max-width: $tablet-breakpoint) {
        padding-bottom: 0;
            &__link {
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(4, 1fr);
            }
    }
}

// Apparition au défilement
[class*="revealFooter-"] {
    opacity: 0;
    transform: translateY(-80px);
}

.reveal_visible-footer {
    opacity: 1;
    transform: translateY(0);
    transition: 2.5s cubic-bezier(0.5, 0, 0, 1);
}

.revealFooter-1 {
    transition-delay: .2s;
}


.revealFooter-2 {
    transition-delay: .4s;
}

.revealFooter-3  {
    transition-delay: .6s;
}

.revealFooter-4{
    transition-delay: .8s;
}