.home {
    background-color: #000;
    color: $color-text;
        &__header {
            display: flex;
            justify-content: space-around;
            font-size: 16px;
            font-weight: bold;
            align-items: center;
            position: fixed;
            width: 100%;
            height: 80px;
            z-index: 1000;
                &__logo {
                    display: flex;
                    align-items: center;
                        &__img {
                            width: 25px;
                            height: 25px;
                            margin-right: 5px;
                        }
                }
                &__list {
                    min-width: 380px;
                    display: flex;
                    justify-content: space-between;
                    list-style-type: none;
                        & a {
                            text-decoration: none;
                            color: $color-text;
                        }
                        & a:hover {
                            color: #3A6BC3;
                            transition: .5s;
                            cursor: pointer;
                        }
                }
                &__tablet {
                    display: none;
                }
        }
        &__article {
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-top: 80px;
                &__title {
                    margin-top: 80px;
                    margin-bottom: 0;
                }
                &__car {
                    font-size: 20px;
                    margin-bottom: 7px;
                    margin-top: 28px;
                }
                &__type {
                    display: flex;
                    align-items: baseline;
                    margin: auto;
                        &__icon {
                            color: #3A6BC3;
                            font-size: 12px;
                            margin-right: 6px;
                        }
                        &__text {
                            color: $color-text-third;
                            margin-top: 0;
                            margin-bottom: 50px;
                        }
                }
                &__img {
                    width: 380px;
                    margin: auto;
                }
                &__info {
                    display: flex;
                    justify-content: center;
                    column-gap: 85px;
                    margin: auto; 
                    margin-top: 60px; 
                        &__div {
                            &__icon {
                                color: $color-text-third;
                                font-size: 15px;
                            }
                            &__number {
                                font-size: 24px;
                                font-weight: 500;
                                margin-bottom: 8px;
                            }
                            &__text {
                                text-transform: uppercase;
                                font-size: 12px;
                                color: $color-text-secondary;
                            }
                        }
                }
                &__button{
                    text-decoration: none;
                    background-color: #0a0a0b;
                    color: $color-text;
                    border: 2px solid #08915F;
                    border-radius: 50%;
                    width: 70px;
                    height: 70px;
                    margin-top: 70px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    left: 48%;
                        &::before{
                            content: '';
                            border: 2px solid #03C37C;
                            border-radius: 50%;
                            width: 90px;
                            height: 90px;
                            position: absolute;
                            box-shadow: 0 0 12px #03C37C;
                            transition: .3s;
                            animation: button 3s infinite;
                        }
                        &:hover {
                            cursor: pointer;
                        }
                }
        }
        &__bg {
            &--01 {
                width: 500px;
                height: 500px;
                position: absolute;
                top: -50px;
                left: -120px;
                background-color: rgba(55, 74, 109, 0.5);
                filter: blur(112px);
                border-radius: 50%;
                z-index: 0;
            }
            &--02 {
                width: 500px;
                height: 500px;
                position: absolute;
                top: 400px;
                right: 0px;
                background-color: rgba(55, 74, 109, 0.5);
                filter: blur(112px);
                border-radius: 50%; 
                z-index: 0;
            }
        }
    @media (max-width: $tablet-breakpoint) {
        &__header {
            justify-content: space-between;
                &__logo {
                    margin-left: 40px;
                }
                &__list {
                    display: none;
                }
                &__tablet {
                    display: block;
                        &__menu {
                            margin-right: 40px;
                            font-size: 18px;
                                &:hover {
                                    cursor: pointer;
                                }
                        }
                        &__list {
                            &--close {
                                display: none;
                            }
                            &--open {
                                background-color: #ffffff1a;
                                list-style-type: none;
                                text-align: center;
                                position: fixed;
                                top: -15px;
                                right: 0;
                                width: 100%;
                                height: 100%;
                                backdrop-filter: blur(96px);
                                transition: .3s;
                                    & li {
                                        margin-top: 75px;
                                        font-size: 18px;
                                    }
                                    & a {
                                        color: $color-text;
                                        text-decoration: none;
                                        text-transform: uppercase;
                                    }
                                    & a:hover {
                                        color: #3A6BC3;
                                        transition: .5s;
                                    }
                                    #first {
                                        margin-top: 180px;
                                    }
                            }
                        }
                }
        }

        &__article {
            &__title {
                font-size: 26px;
            }
            &__car {
                font-size: 17px;
            }
            &__type {
                &__icon {
                    font-size: 12px;
                }
                &__text {
                    font-size: 13px;
                }
            }
            &__img {
                width: 280px;
            }
            &__info {
                column-gap: 50px;
                    &__div {
                        &__icon {
                            font-size: 14px;
                        }
                        &__number {
                            font-size: 20px;
                        }
                        &__text {
                            font-size: 13px;
                        }
                    }
            }
            &__button {
                left: 44%;
            }
        }
    }
}

// Change le style du header au scroll
.onscroll {
    background-color: #0a0a0b;
    border-radius: 0 0 15px 15px;
}

// Apparition des éléments les uns après les autres
// De haut en bas
[class*="revealHome-"] {
    opacity: 0;
    transform: translateY(-50px);
}

// De bas en haut
[class*="revealHomeBottom-"] {
    opacity: 0;
    transform: translateY(80px);
}

.reveal_visible-home {
    opacity: 1;
    transform: translateY(0);
    transition: 2.5s cubic-bezier(0.5, 0, 0, 1);
}

.revealHome-1 {
    transition-delay: .2s;
}

.revealHome-2 {
    transition-delay: .3s;
}

.revealHome-3  {
    transition-delay: .4s;
}

.revealHome-4{
    transition-delay: .5s;
}

.revealHomeBottom-1 {
    transition-delay: .6s;
}

.revealHomeBottom-2 {
    transition-delay: .75s;
}

.revealHomeBottom-3 {
    transition-delay: .9s;
}

.revealHomeBottom-4 {
    transition-delay: 1.05s;
}